            <hr>
            <footer>
                <small>&copy;2015 QuizApp - <a href="http://github.com/alejandroperezmartin" title="See this project on GitHub">Alejandro Perez</a></small>
            </footer>
        </div><!-- .container -->
    </body>
</html>
