
<% include quizes/menu %>

<div class="jumbotron">
    <h1>
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
        <%= title %>
    </h1>
    <p>The Quiz game, create and answer questions!</p>
    <p><a class="btn btn-primary btn-lg" href="/quizes/question" role="button">Start game</a></p>
</div>
