<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="charset" content="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>QuizApp</title>
        <link rel='stylesheet' href='/css/bootstrap.min.css' />
        <link rel='stylesheet' href='/css/style.css' />
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <%- body %>
            <hr>
            <footer>
                <small>&copy;2015 <a href="https://github.com/AlejandroPerezMartin/Quiz-App" title="See the project on GitHub">QuizApp</a> - <a href="http://github.com/alejandroperezmartin" title="See this project on GitHub">Alejandro Perez</a></small>
            </footer>
        </div>
    </body>
</html>
