<!DOCTYPE html>
<html>
    <head>
        <title>QuizApp</title>
        <link rel='stylesheet' href='/css/bootstrap.min.css' />
        <link rel='stylesheet' href='/css/style.css' />
    </head>
    <body>
        <div class="container">
            <% answer %>
            <a href="/quizes/question" title="Show answer">Try again!</a>
            <% include ../footer %>
